body {
 	background-color: rgb(42, 128, 185);
 	font-family: 'Nunito', sans-serif;
 	margin: 0;
}

/* Thermometer*/
.thermometer {
	/*   margin: 50% 0 0 50%;*/
  	left: 158px;
    top: 16px;
    width: 38px;
    height: 200px;
    display: block;
    font: bold 18px/152px helvetica, arial, sans-serif;
    text-indent: 65px;
    border-radius: 22px 22px 0 0;
    border: 5px solid white;
    border-bottom: none;
    /* position: absolute; */
    position: relative;
    box-shadow: inset 0 0 0 4px #fff;
    /* color: #4a1c03; */
    color: white;
}

 .thermometer:before {
    content: ' ';
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 187px;
    left: -16px;
    z-index: -1;
    border-radius: 44px;
    border: 5px solid white;
    box-shadow: inset 0 0 0 4px #fff;
}
/* This piece here connects the column with the bulb */
 .thermometer:after {
    content: ' ';
    width: 30px;
    height: 7px;
    display: block;
    position: absolute;
    top: 195px;
    left: 4px;
    background: #B03633;
}
/*therm text*/
.text {
	position: absolute;
    top: 141px;
    left: 249px;
    color: white;
}
.Colder {
	background: -webkit-linear-gradient(top, #ADD6EB 0%, #5CADD6 50%, #3598DB 50%, #2A80B9 100%);
}
.Colder:before, .Colder:after{
	background: #2A80B9;
}
.BRRRRRRRR {
	background:-webkit-linear-gradient(top, #ADD6EB 2%, #5CADD6 21%, #3598DB 1%, #20608B 54%);
}
.BRRRRRRRR:before, .BRRRRRRRR:after{
	background: #20608B;
}
.Warmer {
	background: -webkit-linear-gradient(top, #E64D3E 0%, #D24738 50%, #C2392B 50%, #B03633 100%);
}
.Warmer:before, .Warmer:after{
	background: #B03633;
}
.Hot {
	background: -webkit-linear-gradient(top, #E64D3E 0%, #D24738 26%, #C2392B 30%, #B03633 80%);
}
.Hot:before, .Hot:after {
	background: #B03633;
}
.scorching {
	background: -webkit-linear-gradient(top, #E64D3E 0%, #D24738 8%, #C2392B 5%, #B03633 80%);
}
.scorching:before, .scorching:after {
	background: #B03633;
}
.circle .shadow {
	background-color: #3186BF;
	z-index: 0;
}
.circle {
	width: 400px; 
	padding-bottom: 375px;
	position: absolute;
	top:0;
	background-color: #3598DB;
	border-radius: 50%;
	z-index: -2;
}



/*columns*/
.col {
/*	border: 1px solid black;*/
}
.img-wrapper {
	/*border: 1px solid red;*/
	height:200px;
	position: relative;
}

.col-wrapper {
	width:100%;
	display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}
.content-col{
	/*width:30%;*/
	flex: 1;
	padding:10px;
	color:white;
}
.thermometer-col {
	/*width:30%;*/
	flex: 1;
	/*display: inline-block;*/
}

.playButton-wrapper {
	width:80%;
	margin:0 auto;
	padding:20px;
}


/*guess input styles*/
.input-item {
	border:none;
	border-radius: 4px;
	padding: 10px 30px;
	margin: 10px 0px;
}
.input-item:first-child {
	flex:2;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.input-item:last-child {
  flex:1;
  text-align: center;
  background-color: rgb(53,152,219);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*button styles*/
button {
	color:white;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	flex: 1;
	padding: 10px 30px;
	margin: 10px 0px;
	border:none;
	border-radius: 4px;
	background-color: rgb(53,152,219);
}
button:first-child {
	background-color: rgb(52,184, 239);
	margin-right: 4px;
}
/*header/title styles*/
.header {
	width: 80%;
	font-size: 30px;
	line-height: 36px;
	color:white;
	padding-left: 20px;
}

.header h2 {
	text-align:right;
	color: rgb(52,184, 239);
}
/*gameover styles*/
.gameOver {
	background-color: white; 
	width: 100%;
	height: 100%; 
	position: fixed;
	display: none;
}
.gameOver-title {
	font-size: 30px;
	color: rgb(52,184, 239);
	line-height: 36px;
	text-align: center;
	margin-top: 15%;
}


/*media queries*/
@media (max-width:917px) {
	.circle {
   		width: 370px;
    	padding-bottom: 350px;
    }
}
@media (max-width:865px) {
	.playButton-wrapper {
    	margin: 1px;
    	padding: 0px;
    }
    .header {
    	width: 95%
    }
    .text {
    	top: 118px;
    	left: 229px;
    }
    .header h1  {
    	font-size: 53px;
    	line-height: initial;
    	margin-bottom: 0;
    }
    .header h2  {
    	margin-top: 0;
    }
}

@media (max-width: 763px) {
	.circle {
    	width: 335px;
    	padding-bottom: 326px;
    }
    .text {
	    top: 118px;
	    left: 207px;
	}
    .thermometer {
    	left: 137px;
    	top: 22px;
    }
}
@media (max-width: 550px) {
	.circle {
		visibility: hidden; 
	}
	.text {
	    top: 118px;
	   /* left: 164px;*/
	    left: 106px;

	}
	.input-item {
	    flex: 2;
	    border-top-right-radius: 3!important;
	    border-bottom-right-radius: 3!important;
	}
	.thermometer {
    	left: 35px;
	}
	.input-item {
   	  padding: 10px 6px;
	}
}
@media (max-width: 404px) {
	.thermometer {
    	left: 35px;
	}
	
	.col-wrapper {
    	width: 100%;
    	display: block;
	}
}